body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #f7cb4d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%; /* Устанавливаем ширину контейнера */
    max-width: 500px; /* Максимальная ширина контейнера */
    box-sizing: border-box; /* Учитываем padding в ширине */
}

.type-buttons {
    display: flex;
    justify-content: center; /* Центрируем кнопки по горизонтали */
}

form {
    display: flex;
    flex-direction: column;
    width: 100%; /* Форму растягиваем на всю ширину контейнера */
}

label {
    margin: 10px 0 5px;
}

input, select, button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 100%; /* Поля ввода занимают всю ширину контейнера */
    box-sizing: border-box; /* Учитываем padding в общей ширине */
}

input[type="date"], input[type="number"], select {
    height: 40px; /* Устанавливаем высоту для полей ввода */
    font-size: 16px; /* Устанавливаем размер шрифта */
    padding: 10px; /* Устанавливаем padding */
    box-sizing: border-box; /* Учитываем padding и border в ширину */
}

button {
    background-color: #ffe599;
    color: #333;
    transition: transform 0.3s;
    height: 40px; /* Фиксированная высота кнопок */
}

button:active {
    transform: scale(0.95);
}

button.selected {
    background-color: #cccccc;
    color: #ffffff;
}

button.type-btn {
    flex: 1; /* Кнопки занимают равные доли доступного пространства */
    max-width: 50%; /* Ограничиваем максимальную ширину кнопок до половины контейнера */
    padding: 10px;
    margin: 10px; /* Убираем отступы между кнопками */
    box-sizing: border-box; /* Учитываем padding в ширине кнопок */
}

button:focus {
    outline: none;
}

#result-message {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#categoryField {
    width: 100%; /* Поле для категории занимает всю ширину контейнера */
    box-sizing: border-box; /* Учитываем padding в общей ширине */
}

/* Адаптивные стили для экранов до 600px */
@media (max-width: 600px) {
    html, body {
        height: 100%; /* Устанавливаем высоту для body и html */
        margin: 0;
        padding: 0;
    }

    .container {
        width: 100vw; /* 100% от ширины окна */
        height: 100vh; /* 100% от высоты окна */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        box-sizing: border-box; /* Убедимся, что padding учитывается в общей ширине/высоте */
    }

    input, select, button {
        width: 100%; /* Элементы формы занимают всю ширину контейнера */
        box-sizing: border-box; /* Padding и margin не влияют на ширину */
        font-size: 16px; /* Устанавливаем размер шрифта для всех элементов */
    }
}

